<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba 2do Parcial Aplicaciones Web</title>
  </head>
  <body>
      <h2>Ingreso de datos Clientes</h2>
      <form action="/" method="POST">
        <div class="datosclientes">
          <label >Cédula:</label>
          <input type="text" name="cedula_cliente"   />
          <p id="e1"></p>
        </div>

        <div class="datosclientes">
            <label >Nombres:</label>
            <input type="text" name="nombre_cliente"   />
            <p id="e2"></p>
        </div>

        <div class="datosclientes">
            <label >Direccion:</label>
            <input type="text" name="direccion_cliente"  />
            <p id="e4"></p>
        </div>

        <div class="datosclientes">
            <label >Teléfono:</label>
            <input type="text" name="telefono_cliente"   />
            <p id="e6"></p>
        </div>

        <div class="datosclientes">
            <label >Correo:</label>
            <input type="email" name="email_cliente"   />
            <p id="e7"></p>
        </div>

        <input type="submit" class="btn" value="Registrar" />
      </form>
    </div>
  </body>
</html>